<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    {% if env == 'production' %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "app.compiled.css" %}{% endset %}
      <style> 
        {{ css | safe }}
      </style>
    {% else %}
    <link rel="stylesheet" href="/static/app.compiled.css">
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  </head>
  <body class="bg-snow-drift-500">
    {{ content | safe }}
  </body>
  <script src="/static/app.bundled.js"></script>
</html>
