@tailwind base;

@font-face {
	font-family: 'Montserrat' sans-serif;
	font-weight: 700;
	src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap") format("ttf");
  }
  @font-face {
	font-family: 'Lato' serif;
	src: url(/fonts/Lato-Light.ttf) format("ttf");
  }
  @font-face {
	font-family: 'IBMPlexMono' monospace;
	src: url(/fonts/IBMPlexMono-Medium.ttf) format("ttf");
  }

  h1 {
	  @apply text-4xl font-sans font-bold;
  }

  p {
	  @apply font-serif;
  }



@tailwind components;

a {
	@apply text-picton-blue-500 underline;
  }

.rocket {
	animation: rocket 0.7s linear infinite both;
}

@keyframes rocket {
	0% {
		transform: translate(0);
		transform: rotate(0);
	}
	10% {
		transform: translate(-1px, -1px);
	}
	20% {
		transform: translate(1px, -1px);
	}
	30% {
		transform: translate(-1px, 1px);
	}
	40% {
		transform: translate(1px, 1px);
	}
	50% {
		transform: translate(-1px, -1px);
	}
	60% {
		transform: translate(1px, -1px);
	}
	70% {
		transform: translate(-1px, 1px);
	}
	80% {
		transform: translate(-2px, -2px);
	}
	90% {
		transform: translate(2px, -2px);
	}
	100% {
		transform: translate(0);
	}
}

@tailwind utilities;
